* { 
    background-color: #3D314A;
  }
  
  html {
    scroll-behavior: smooth;
  }

  ul {
    list-style-type: none;
  }

  .flex-container {
    display: flex;
    background-color: #1A1423;
    flex-direction: row;
    justify-content: flex-end;
  }

  .flex-item {
    padding: 1%;
    margin: 1%;
    background-color: #1A1423;
  }

  a:link, a:visited {
    text-decoration: none;
    color: #F2CD5D;
    background-color:#1A1423;
    font-family: 'Fira sans', sans-serif;
  }

  a:hover, a:active {
    text-decoration: none;
    color: #A799B7;
    background-color: #1A1423;
    font-family: 'Fira sans', sans-serif;
  }

  #Mon-nom {
    color: #F2CD5D;
    font-family: 'Fira sans', sans-serif;
    font-size: 48px;
    text-align: center;
  }

  #Mon-travail {
    color: #F2CD5D;
    font-family: 'Fira sans', sans-serif;
    font-size: 36px;
    text-align: center;
  }

  .grid-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 50vw 50vw;
  }
  .grid-item {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
  }


  h1 {
    color: #DEB841;
    font-family: 'Fira sans', sans-serif;
    text-align: center;
    font-size: 24px;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .a-propos {
    background-color:#1A1423;
  }

  .paragraphe-1 {
    color:#A799B7;
    text-align:center;
    font-family: 'Fira sans', sans-serif;
    font-size: 18px;
  }
  

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom:auto;
    width: 20%;
    border-style: solid;
    border-color: #F2CD5D;
  }

  .form {
    color:#F2CD5D;
    font-family:'Fira sans', sans-serif;
    margin-top:10%;
    margin-bottom:20%;
    margin-left:10%;
    font-size:18px;
   }

   input {
    color:#F2CD5D;
    font-family: 'Fira sans', sans-serif;
    border-color:#F2CD5D;
    font-size:16px;
   }

   textarea {
    color:#F2CD5D;
    font-family: 'Fira sans', sans-serif;
    border-color:#F2CD5D;
    font-size:16px;
   }

   .flex-container-2 {
      display: flex;
      background-color:#1A1423;
      flex-direction: row;
      justify-content: flex-end;
   }

   .flex-item-2 {
    display: block;
    background-color:#1A1423;
    width:10%;
   }

   .image {
    border: none;
   }

   .flex-container-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
   }

    .flex-item-3 {
      margin-left:10%;
      margin-right:10%;
      margin-top:5%;
      margin-bottom:5%;
      background-color:#F2CD5D;
      outline:dashed;
      outline-color:#A799B7;
      padding:5%;
    }

    h3 {
      background-color:#F2CD5D;
      color:#3D314A;
      font-family: 'Fira sans', sans-serif;
      font-size: 24px;
      text-align:center;
    }

    .p {
      background-color:#F2CD5D;
      color:#3D314A;
      font-family:'Fira sans', sans-serif;
      font-size:18px;
      text-align: center;
    }

    .footer {
      color: #DEB841;
      background-color: #1A1423;
      text-align: center;
      font-family: 'Fira sans', sans-serif;
      font-size: 12px;
      padding: 5%;
    }